Mypilotproject/MyPilotProject/bin/
Mypilotproject/MyPilotProject/obj/
Mypilotproject/MyPilotProject.Android/bin/
Mypilotproject/MyPilotProject.Android/obj/
Mypilotproject/MyPilotProject.iOS/bin/
Mypilotproject/MyPilotProject.iOS/obj/
Mypilotproject/MyPilotProject.UWP/bin/
Mypilotproject/MyPilotProject.UWP/obj/
.vs/